<form [formGroup]="formEvento" novalidate (ngSubmit)="salvar()">
  <mat-card class="dialog-card">

    <mat-card-header>
      <mat-card-title>Parametros Evento</mat-card-title>
    </mat-card-header>

    <mat-form-field class="full-width">
      <input matInput placeholder="nome" formControlName="nome" />
      <mat-error *ngIf="formEvento.controls['nome'].hasError('required')">
        O nome é <strong>obrigatório</strong>.
      </mat-error>
    </mat-form-field>

    <mat-form-field class="full-width">
      <input matInput placeholder="local" formControlName="local" />
      <mat-error *ngIf="formEvento.controls['local'].hasError('required')">
        O local é <strong>obrigatório</strong>.
      </mat-error>
    </mat-form-field>

    <mat-form-field class="full-width">
      <input
        matInput
        #convidados
        maxlength="3"
        placeholder="convidados"
        type="number"
        formControlName="convidados"
      />
    </mat-form-field>

    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">Salvar</button>
    </mat-card-actions>
  </mat-card>
</form>
